@import '../components/colors.module';

.AboutPage {
  height: 80vh;
  margin-top: 10vh;
}

.scroll-container,
.scroll-area {
  // max-width: 850px;
  height: 600px;
}

.scroll-container {
  max-width: 70%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  border-radius: 25px 0px 0px 25px;
  box-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0 auto;
}

.scroll-area {
  transition: 500ms;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $pale-pink;
}

.scroll-area-infos {
  height: 55vh;
  padding: 10px;
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#area2 .scroll-area-infos {
  max-width: 60%;
}

#area4 {
  .scroll-area-icon-medium {
    margin: 8px;
  }

  .scroll-area-title {
    margin: 15px;
  }
}

.scroll-area-infos-elem {
  display: flex;
  margin: auto;
}

.scroll-area-infos-elem:first-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.scroll-area-infos-elem:nth-child(2) {
  margin-top: 0;
  padding-top: 0;
}

.scroll-area-title {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
}

.scroll-area-subtitle {
  margin-left: 10px;
  padding-left: 8px;
  font-weight: 300;
  text-align: left;
  font-size: 2rem;
}

.scroll-area-infos-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
}

.scroll-area-infos-list li {
  padding: 10px;
  max-width: 60%;
  display: flex;

  p {
    margin-left: 6px;
    padding-left: 8px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.scroll-area-img {
  margin: 10px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  align-self: flex-end;
}

.scroll-area-icon {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.scroll-area-icon-medium {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.scroll-area-icon-small {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.about-notes {
  position: absolute;
  // bottom: 100px;
  right: 0;
}

.scroll-area-btn {
  // margin-top: 60px;
  // scroll-snap-align: start;
  color: inherit;
  padding: 6px;
  font-size: 3rem;
}

.scroll-area-btn:hover {
  transition-timing-function: ease-in-out;
  transition: 1000ms;
  text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
  font-size: 4rem;
}

@media (max-width: 900px) {
  .scroll-area{
    padding-top: 20px;
    min-height: 70vh;
  }

  .scroll-area-subtitle{
    font-size: 1.4rem;
  }

  .scroll-area-title{
    font-size: 1.8rem;
  }

  .scroll-area-icon-small{
    height: 60px;
    width: 60px;
  }
}
// .scroll-area-btn span {
//   // position: absolute;
//   // top: 0;
//   // left: 50%;
//   width: 24px;
//   height: 24px;
//   margin-left: -12px;
//   border-left: 1px solid #fff;
//   border-bottom: 1px solid #fff;
//   -webkit-transform: rotate(-45deg);
//   transform: rotate(-45deg);
//   box-sizing: border-box;
//   padding: 5px;
//   // scroll-snap-align: start;
// }

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 760px) {
  .AboutPage {
    height: 100vh;
    /* margin: auto; */
    margin-top: 15vh;
  }

  .scroll-container {
    max-width: 90%;
  }
}