@import '../components/colors.module';
.AboutPage {
    margin: auto;
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-container,
.scroll-area  {

}

.scroll-container {
    max-width: 70%;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
}

.scroll-area {
  transition: 500ms;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $pale-pink;
}

.scroll-area-infos {
  height: 55vh;
  padding: 10px;
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#area2 .scroll-area-infos {
  max-width: 60%;
}

#area4 {
  .scroll-area-icon-medium {
    margin: 8px;
  }

  .scroll-area-title {
    margin: 15px;
  }
}

.scroll-area-infos-elem {
  display: flex;
  margin: auto;
}

.scroll-area-infos-elem:first-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.scroll-area-infos-elem:nth-child(2) {
  margin-top: 0;
  padding-top: 0;
}

.scroll-area-title {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
}

.scroll-area-subtitle {
  margin-left: 10px;
  padding-left: 8px;
  font-weight: 300;
  text-align: left;
  font-size: 2rem;
}

.scroll-area-infos-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
}

.scroll-area-infos-list li {
  padding: 10px;
  max-width: 60%;
  display: flex;

  p {
    margin-left: 6px;
    padding-left: 8px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.scroll-area-img {
  margin: 10px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  align-self: flex-end;
}

.scroll-area-icon {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.scroll-area-icon-medium {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.scroll-area-icon-small {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.about-notes {
  position: absolute;
  // bottom: 100px;
  right: 0;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  animation: bounce 3s infinite;
  font-size: 4rem;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
    text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
  }
}

.scroll-area-btn {
  // margin-top: 60px;
  // scroll-snap-align: start;
  color: inherit;
  padding: 6px;
  font-size: 3rem;
}


a {
  text-decoration: none;
  color: inherit;
}