@import '../components/colors.module';
@import '../components/Skills.scss';

.LandingPage {
  height: 80vh;
  width: 90vh;
}

.banner__large {
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  height: 32vh;
  display: flex;
}

.banner__title:hover,
.banner__subtitle:hover {
  transition-timing-function: ease-in-out;
  transition: 1000ms;
  text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
}

.header__container {
  position: absolute;
  bottom: 300px;
  margin: 13px;
}

.banner__title {
  transition: 1000ms;
}

.banner__subtitle {
  transition: 1000ms;
  margin-top: 0;
  font-weight: 100;
}

@media (min-width: 1000px) {
  .logo {
    position: absolute;
    left: 0px;
  }

  .banner__large {
    height: 24vh;
    padding: 320px 0;
    background-position: unset;
  }

  .header__container {
    position: absolute;
    top: 22px;
    right: 22px;
    // right: 57px;
  }
}

