@import '../components/_colors.module';
@import '../components/_carousel';
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

.MyProjectsPage {
  max-width: none;
  padding-top: 100px;
  margin: auto;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 567px;
  width: 80%;
  // width: 484px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $pale-pink;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.carousel-card-infos {
  background-color: $independence;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: relative;
}

.carousel-card-logo {
  color: $pale-pink;
  padding: 4px;
  margin: 2px;
  font-size: 1.5em;
}

.carousel-card-logo:hover {
  transition: 1s;
  text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
}
.slick-prev:hover,
.slick-next:hover {
  transition: 1s;
  text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
    color: $pale-pink;
}
.slick-prev:before,
.slick-next:before {
  color: $pale-pink;
}

//desktop
@media screen and (min-width: 1024px) {
  .MyProjectsPage {
    max-width: 70%;
  }
}

//tablet
@media screen and (min-width: 600px) and (max-width: 1020px) {
 .MyProjectsPage {
    padding-top: 212px;
    width: 100vh;
 }
 .card-category {
  width: 90%;
  font-size: 21px;
}
}

//mobile
@media screen and (max-width: 590px) {
  .MyProjectsPage {
    // margin-top: 80px;
    width: 70vh;
    // height: 50vh;
 }
 .card-category {
  font-size: 21px;
  height: 50vh;
  // height: 100%;
  }
  .carousel-card-infos{
    padding: 0;
    padding-left: 6px;
    font-weight: 150;
    font-size: 1rem;
  }
}

