@import '../components/colors.module';
@import '../components/_honeycomb.scss';
@import '../components/Skills.scss';

.d-none {
  display: none;
}

.SkillsPage {
  margin: auto;
  display: flex;
}

.skills-container {}

.wrapper {
  margin: auto;
  display: grid;
  width: 100%;
}

.wrapper-list {
  margin: 17px;
  padding: 14px;
  max-height: 655px;
}

.wrapper-elem {
  background-image: linear-gradient(rgba(161, 196, 253, 0.2), rgba(194, 233, 251, 0.3));
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 50vh;
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $linen;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
}

.wrapper-list__tech-skills .wrapper-elem:hover {
  background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
  transition: 500ms;
  padding: 2px;
  font-size: 2rem;
  text-decoration: underline;
}

.wrapper-list__tech-skills {
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper-list__soft-skills {
  padding-left: 30px;
}

.toggle__text {
  transition-timing-function: ease-in-out;
  transition: 1000ms;
  text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
}

.toggle__text:hover,
.toggle__text:focus {
  transition-delay: 200ms;
  text-decoration: underline;
}

.logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 40px;
  max-width: 100%;
  max-height: 100%;
  margin: 12px;
}

.logos-elem {
  font-size: 3.5vw;
}

.logos-img {
  width: 60px;
}

.logos-text {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  font-size: 0.6rem;
  text-align: center;
}

.tools-title {}

@media screen and (min-width: 1000px) {
  .SkillsPage {
    padding-left: 340px;
  }

  .wrapper-elem {
    width: 60vh;
    margin: 16px;
  }

  .logos-elem {
    font-size: 1vw;
  }

  .logos-text {
    font-size: 1rem;
  }

  .wrapper-list__tech-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .wrapper-list__tech-skills .wrapper-elem {
    width: 50vh;
  }

  .wrapper-list__soft-skills {
    padding-left: 150px;
  }

  // .backend {
  //   position: relative;
  //   top: -51%;
  // }
}

@media screen and (max-width: 760px) {
  .SkillsPage {
    padding-top: 250px;
  }

  .wrapper-list__tech-skills {
    grid-template-columns: 1fr;
    padding: 113px;
  }

  .wrapper-elem {
    width: 90vh;
  }

  .logos {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .SkillsPage {
    padding-top: 150px;
  }

  .wrapper-elem {
    width: 35vh;
    margin: 16px;
  }

  .wrapper-list__tech-skills {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 113px;
    padding-left: 80px;
    margin-left: 120px;
  }
}