@import '../components/colors.module';
@import '../components/_honeycomb.scss';
@import '../components/wrapperTechSkills';
.SkillsPage {
    margin: auto;
    display: flex;
}
.wrapper {
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 16px;
}

.wrapper-list {
    margin: auto;
    display: flex;
}

//desktop
@media screen and (min-width: 840px) {
.wrapper {
    margin-left: 200px;
}
}

//tablet
@media screen and (min-width: 480px) and (max-width: 839px) {

}

//mobile
@media screen and (max-width: 479px) {
    .wrapper {
        margin-top: 90px;
    }
}
