@import './colors.module';

.carousel-card {
  // border-radius: 25px;
  //for slick:
  width: 60vh;
  height: 40vh;
  // height: 40vh;
  // width: 60vh;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0px 0px;
}

.carousel-card-wrapper {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.carousel-card__img {
  height: 400px;
  width: 400px;
  height: 40%;
  object-fit: cover;
  object-position: center;
  margin: 12px;
  //for slick
  border-radius: 25px;
}

.carousel-card-infos {
  background-color: $independence;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: relative;
  //for slick
}

@media screen and (max-width: 900px) {
  .carousel-card-infos {
    font-weight: 100;
  }
}

.carousel-card-wrapper .carousel-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.carousel-card-logo {
  color: $pale-pink;
  padding: 4px;
  margin: 2px;
  font-size: 1.5em;
}

.carousel-card-logo:hover {
  transition: 1s;
  text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
}

@media (max-width: 900) {
  .websites-page-container {
    grid-template-columns: 1fr;
  }
}

// .carousel__container{
//     position: absolute;
//     top: 10%;
//     left: 14%;
//     padding: 20px;
//     margin: 12px;
//     width: 70%;
//     border: solid 2px $linen;
// }

// #carousel {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 12px;
//   align-content: center;
// }

// .carousel-card{
//     height: 60vh;
//     width: 60vh;
//     overflow: hidden;
//     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
//     border-radius: 20px 20px 0px 0px;
// }

// .carousel-card__title {
//     font-size: 3vh;
//     margin: 0;
// }

// .carousel-card__description {
//     padding: 6px;
//     // word-break: break-all;
//     font-size: 2vh;
//     opacity: .7;
//     margin: 0;
// }

// .carousel-card__infos {
//     background-color: $independence;
//     padding: 16px;
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-end;
//     width: 100vh;
//     // position: relative;
// }

// .carousel-card__img {
//   height: 70vh;
//   width: 100%;
//   object-fit: cover;
// }

// .carousel-card__links {
//     color: $pale-pink;
//     display: flex;
//     justify-content: space-around;
// }

// .carousel-card__link {
//     border: solid 1px $pale-pink;
//     padding: 6px;
//     border-radius: 50%;
// }

// .carousel-card__link:hover{
//       transition: 1s;
//       text-shadow:1px 1px 2px $pale-pink,
//       0 0 25px $linen,
//       0 0 5px $melon;
// }

// #linkLink{
//     height: 100%;
//     font-size: 1.4rem;
//     position: relative;
//     bottom: -5px;
// }

// // .fa-external-link-square-alt{
// //     font-size: 1rem;
// //     padding:0;
// // }
// @media (min-width: 700) {
//     .carousel-card {
//         height: 70vh;
//         width: 60vh;
//     }
// }