// $melon: #ebae9cff;
// $linen: #fff1e6ff;
// $pale-pink: #fde2e4ff;
// $mountbatten-pink: #a18093ff;
// $independence: #535166ff;
// $space-cadet: #3b3b5fff;
// $cyber-grape: #584c72ff;

$melon: rgb(235, 174, 156);
$linen: rgb(255, 241, 230);
$pale-pink: rgb(253, 226, 228);
$mountbatten-pink: rgb(161, 128, 147);
$independence: rgb(83, 81, 102);
$space-cadet: rgb(59, 59, 95);
$cyber-grape: rgb(88, 76, 114);



:export {
  melon: $melon;
  linen: $linen;
  palePink: $pale-pink;
  mountbattenPink: $mountbatten-pink;
  independence: $independence;
  spaceCadet: $space-cadet;
  cyberGrape: $cyber-grape;
}