$melon: #ebae9cff;
$linen: #fff1e6ff;
$pale-pink: #fde2e4ff;
$mountbatten-pink: #a18093ff;
$independence: #535166ff;
$space-cadet: #3b3b5fff;
$cyber-grape: #584c72ff;
$dark-coral: #c0666a;
$deep-pumpkin: #c87a3d;



:export {
  melon: $melon;
  mountbattenPink: $mountbatten-pink;
  independence: $independence;
  spaceCadet: $space-cadet;
  cyberGrape: $cyber-grape;
  darkCoral: $dark-coral;
  deepPumpkin: $deep-pumpkin;
}
