$melon: #ebae9cff;
$linen: #fff1e6ff;
$pale-pink: #fde2e4ff;
$mountbatten-pink: #a18093ff;
$independence: #535166ff;
$space-cadet: #3b3b5fff;
$cyber-grape: #584c72ff;



:export {
  melon: $melon;
  linen: $linen;
  palePink: $pale-pink;
  mountbattenPink: $mountbatten-pink;
  independence: $independence;
  spaceCadet: $space-cadet;
  cyberGrape: $cyber-grape;
}