@import '_colors.module.scss';

.Sidebar {
  width: auto;
  margin: 12px;
  position: absolute;
  bottom: 165px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.list {
  list-style-type: none;
}

.Sidebar .list .list__elem {
  padding: 8px 16px;
  margin: 6px 12px;
  border-bottom: solid 1px $linen;
}

.Sidebar .list .list__elem:hover {
  transition: 250ms;
  color: $melon;
  border-bottom: solid 1px $melon;
}

.Sidebar .list {
  font-size: 1.5em;
  padding: 6px;
  margin: 3px;
}

.selected {
  text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
}

@media (max-width: 1000px) {
  .Sidebar {
    display: block;
    top: 0px;
    background-color: $independence;
    position: fixed;
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px white;
  }

  .Sidebar .list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 1rem;
  }
  .Sidebar .list .list__elem{
    border-bottom: none;
  }
}
