@import '_colors.module.scss';

.list {
  list-style-type: none;
}

.Sidebar .list .list__elem {
  padding: 8px 16px;
  margin: 6px 12px;
}

.Sidebar .list .list__elem {
  border-bottom: solid 1px $linen;
}

.Sidebar .list .list__elem:hover {
  transition: 250ms;
  color: $melon;
  border-bottom: solid 1px $melon;
}

.Sidebar .list {
  font-size: 1.5em;
  padding: 6px;
  margin: 3px;
}

.sidebar {
  // width: auto;
  // margin: 12px;
  // // position: absolute;
  // bottom: 165px;
  // height: fit-content;
}

.selected {
  text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
}

@media (max-width: 1000px) {
  .sidebar {
    // position: absolute;
    // top: 0px;
    // left: 0px;
    width: 100%;
    padding-bottom: 20px;
  }

  .Sidebar .list {
    display: flex;
    justify-content: space-between;
    // position: absolute;
    // top: 0px;
    // left: 5%;
    // width: 50%;
    padding-bottom: 20px;
    font-size: 1.7em;
  }
}
