
@import 'components/_colors.module';
@import 'components/fonts';
@import 'components/_carousel.scss';


.App {
  // background-image: url("https://res.cloudinary.com/dw4xhagfa/image/upload/v1630573498/812556_ioyu4h.jpg");
  // background-size: cover;
  // background-position: center;
  // width: 100vh;
  // height: 100vh;
  // min-height: 160vh;
  // min-width: 76vh;
  padding: 0;
  margin: auto;
}

.logo {
  position: absolute;
  left: 650px;
  top: 10px;
  font-size: 2.5em;
  padding: 6px;
  margin: 8px;

}

.logo-bright {
  color: $linen;
  border: 1px solid $linen;
  border-radius: 50%;
}

.logo-bright:hover {
  transition: 1s;
  text-shadow: 1px 1px 2px $pale-pink,
    0 0 25px $linen,
    0 0 5px $melon;
}


@media (min-width: 800px) {}
@media (min-width: 760px) and (max-width: 1000px) {
  .logo {
    right: 0px;
  }
}