@import 'components/_colors.module.scss';
@import 'components/_fonts.scss';


body {
  margin: auto;
  padding: 0;
  background: url("https://res.cloudinary.com/dw4xhagfa/image/upload/v1632215729/minimalist-digital-art-mountain-landscape-night-moon-uhdpaper.com-4K-34_ubyqaa.jpg");
  //  no-repeat center center fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $independence;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // max-height: 90vh;
  // min-width: 100vh;
}
@media screen and (max-width: 797px) {
  body {
    background-image: url('https://res.cloudinary.com/dw4xhagfa/image/upload/v1632215733/minimalist-digital-art-mountain-landscape-night-moon-uhdpaper.com-4K-mobile-34_yxyyim.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

html, body {
    height: 100%;
    // width: 100vh;
}

html {
  
  scroll-behavior: smooth;
  // overflow: hidden;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $melon;
  box-shadow: inset 0 0 5px rgb(200, 161, 161);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, hsla(14, 66%, 77%, 1) 0%, hsla(26, 100%, 95%, 1) 25%, hsla(356, 87%, 94%, 1) 34%, hsla(325, 15%, 57%, 1) 55%, hsla(246, 11%, 36%, 1) 73%, hsla(240, 23%, 30%, 1) 92%, hsla(259, 20%, 37%, 1) 100%);
  border: 2px solid $independence;
  border-radius: 10px;
}
